{% extends "base.html" %}
{% load static %}
{% load ratings %}
{% block title %}
Home
{% endblock %}
{% block content %}

<section>
  <div>
    <div class="container"  id="carousel-item-container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <!-- <div class="item active">
              <img src="images/amir-1.jpg" alt="Los Angeles" id="image-style-carousel-my">
              <p class="title-first-image">____Welcome____ <br>to pars_bakery online shop</p>
            </div> -->
            <div class="item active">
              <video width="100%" height="620em" class="vidoe-first" autoplay="" loop="" muted >
                  <source src="{% static "img/299732048_116648791132420_8789498774815344910_n.mp4" %}" type="video/mp4">
                  <source src="{% static "mov_bbb.ogg" %}" type="video/ogg">
                  Your browser does not support HTML video.
              </video>
            </div>
            {% for poster in Poster %}
            <div class="item">
              <img src="{{poster.image.url}}" alt="Chicago" id="image-style-carousel-my">
              <p class="title-first-image">{{poster.title}}</p>
            </div>
            {% endfor %}
<!--           
            <div class="item">
              <img src="{% static "img/coffee-g973d84095_1920.jpg" %}" alt="New york" id="image-style-carousel-my">
              <p class="title-first-image">___We Hope to___<br>get ok of this site</p>
            </div> -->
          </div>
        </div>
      </div>
</div>
</section>
<section>
  <div class="about-us-name">
      ABOUT<span class="Us-style">US</span>
  </div>
      <div class="row" id="container">
          <div class="col-sm-5">
              <div class="about-image-class">
                  <img src="{% static "img/coffee-g1323b0f34_1920.jpg" %}" alt="" width="100%" height="100%">
              </div>
          </div>
          <div class="col-sm-7">
              <div class="text-of-about">
                  <h1>what make our coffee special?</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <p class="text-lorem-about">Lorem ipsum dolor sit amet consectetur<br> adipisicing elit.Eaque ipsam odio nulla amet pariatur velit magnam,<br>sint magni provident eligendi quis sapiente nostrum ad doloribus laborum aut! Reiciendis,<br> ducimus quis.</p>
              </div>
              <button class="btn1-see-more">see more</button>
          </div>
      </div>
</section>
<section>
  <div class="menu-us-name" id="menu-style-4">
      <span class="Us-style">OUR</span>MENU
  </div>
  <br><br><br><br><br><br><br>
  <section class="menu">        
    <div class="box-container">
        {% for post in posts_6 %}
        <div class="box">
            <img src="{{post.image.url}}" alt="">
            <h3><a href="details/{{ post.slug }}">{{post.important_title}}</a></h3>
            <div class="price">${{post.price}}<span class="discount-style">${{post.discount}}</span></div>
            <div class="likecount-viewcount">
              <i class="fa-regular fa-heart" id="like-count">{{post.likes2.count}}</i>
              <i class="fa-regular fa-eye" id="view-count">{{post.views}}</i>
            </div>
            <br>
            {% ratings post %}
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'blog:ourmenu' %}"><button class="btn2-see-more">see more</button></a>
    </section>
</section>
{% endblock %}