{% load static %}
<section>
    <input type="checkbox" id="hamburger-input" class="burger-shower" />
    <label id="hamburger-menu" for="hamburger-input">
      <nav id="sidebar-menu">
        <h3 class="menu-text"><i class="fa-solid fa-xmark"></i></h3>
        <img src="images/pt-logo.png" alt="" width="100em" class="img-responsive" id="img-logo-2">
        <hr class="first-hr">
        <ul class="ul-seconde">
          <li class="li-position"><i class="fa-solid fa-house"></i>Home</li>
          <li class="li-position"><i class="fa-solid fa-address-card"></i>About</li>
          <li class="li-position"><i class="fa-brands fa-shopify"></i>Shop</li>
          <li class="li-position"><i class="fa-brands fa-searchengin"></i>Search_Page</li>
          <li class="li-position"><i class="fa-solid fa-id-badge"></i>Contact_Us</li>
        </ul>
        <div class="first-header">
          <i class="fa-brands fa-instagram" id="first-icon-style"></i>   
          <i class="fa-brands fa-youtube" id="icon-style"></i>     
          <i class="fa-brands fa-facebook" id="icon-style"></i>
          <i class="fa-brands fa-twitter" id="icon-style"></i>
          <i class="fa-brands fa-pinterest" id="icon-style"></i>
      </div>
      <p class="responsive-sidebar-text">© Copyright PatioTime WordPress Theme for<br> Restaurant & Cafe.</p>
      <br><br><br>
      <hr class="seconde-hr">
      <p class="first-pragraf"><i class="fa-solid fa-location-dot"></i> Silk St, Barbican, London EC2Y 8DS, UK </p>
      <br>
      <p class="number"> <i class="fa-solid fa-phone"></i>+39-055-123456</p>  
      <p class="pppp"> <i class="fa-solid fa-envelope"></i> booking@patiotime.com</p>
    </nav>
    </label>
  </section>
  <script src="{% static "js/search.js" %}"></script>