{% extends 'base.html' %}
{% load static %}
{% load social_share %}
{% load ratings %}
{% block title %}
    {{ posts.title_for_show }}
{% endblock %}
{% block content %}
<section>
  <div class="content">
    <div class="row">
      <div class="col-sm-6">
        <div class="detail-image">
          <img src="{{ post.image.url }}" alt="" width="100%" , height="100%">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="post-title">
          <h1>{{ post.important_title }}</h1>
          <div class="star">
            <span name="{% if request.user.is_authenticated %}لطفا اول وارد سایت شوید{% endif %}">{% ratings post %}</span>
          </div>
          <div class="like-view">
            <div class="like">
              {% if request.user.is_authenticated == True %}
              <div>  
                  {% if is_liked %}
                  <i id="like-post" onclick="likes('{{post.slug}}' , '{{post.id}}')" style="color:red" class="fa-solid fa-heart"></i></a>                                    
                  {% else %}
                  <i id="like-post" onclick="likes('{{post.slug}}' , '{{post.id}}')" style="color:red" class="fa-regular fa-heart"></i></a>
                  {% endif %}
              </div>
              {% else %}
              <p class="alert alert-danger"dir="rtl" style="margin-top:1.5em;">برای لایک کردن این پست لطفا <a href="{% url 'account:otp' %}">وارد سایت بشوید</a></p>
              {% endif %}
            </div>
            <div class="view">
              <i class="fa fa-eye" id="view">{{ post.views }}</i>
            </div>
          </div>
          <div class="discription">
            <p class="body-2">{{ post.discription }}</p>
          </div>
          <div class="price-discount">
            <p class="price-2">${{post.price}}</p>
            <p class="discount-2"><del>${{post.discount}}</del></p>
          </div>
          <div class="share">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <span>{% post_to_whatsapp post.get_absolute_url "Whatsapp" %}</span>
            <span class="email-share">{% send_email "post" "plese see the new post in the site" post.get_absolute_url "Email" %}</span>
            <span class="telegram-share">{% post_to_telegram "plese see the new post in the site" post.get_absolute_url "Telegram" %}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comments">
    <div class="row" id="row">
      <div class="col-sm-6" id="comment-inputs">
        <div class="comments-form">
          <div class="comments-title">
            <h2>18Comments</h2>
          </div>
          {% if request.user.is_authenticated %}
          <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name='parent_id'  id="parent_id" placeholder="parent_id" value="">
            <textarea class="form-control" name="message" rows="4" id="comments-input" placeholder="Message"required="required"data-validation-required-message="Please enter your message"></textarea>
            <button type="submit" class="btn btn-primary" id="send-button">Send</button>
          </form>
          {% else %}
          <p class="alert alert-warning" style="text-align: center;font-size: 20px;width: 15em;">برای ارسال نظر لطفا <a href="{% url 'account:otp' %}">وارد سایت شوید</a> </p>
          {% endif %}
        </div>
      </div>
      <div class="col-sm-6"id="comment-inputs">
        <div class="content-comments">
          {% for comment in post.comment.all %}
            {% if comment.parent == None %}
            <div class="comment-sended">
              <div class="user-image">
                {% if request.user.image.url != None %}
                <img src="{{comment.user.image.url}}" alt="image" width="100%" height="100%">
                {% else %}
                <img src="{% static "img/png-user-icon-icons-logos-emojis-users-2400.png" %}" alt="" width="100%" height="100%">
                {% endif %}
              </div>
              <div class="username-user">
                {% if request.user.Full_name != None %}
                <p>{{comment.user.Full_name}}</p>
                {% else %}
                <p>{{comment.user.phone}}</p>
                {% endif %}
                <div class="reply-comments"><i class="fa-solid fa-reply"></i><p onclick="set_value({{ comment.id }})">reply</p></div>
              </div>
              <div class="main-comments">
                <p>{{comment.message}}</p>
              </div>
              <div class="created_by"><p>{{comment.created}}</p></div>
              <div class="star-comments">
                {% ratings post %}
              </div>
            </div>
            {% endif %}
            {% for reply in comment.replies.all %}
            <div class="replies">
              <div class="user-image">
                {% if request.user.image.url != None %}
                <img src="{{comment.user.image.url}}" alt="image" width="100%" height="100%">
                {% else %}
                <img src="{% static "img/png-user-icon-icons-logos-emojis-users-2400.png" %}" alt="" width="100%" height="100%">
                {% endif %}              </div>
              <div class="username-user">
                {% if request.user.Full_name != None %}
                <p>{{comment.user.Full_name}}</p>
                {% else %}
                <p>{{comment.user.phone}}</p>
                {% endif %}              </div>
              <div class="main-comments">
                <p>{{comment.message}}</p>
              </div>
              <div class="created_by" id="time-created"><p>{{comment.created}}</p></div>
              <div class="star-comments">
                {% ratings post %}
              </div>
            </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function likes(slug , id){
    var element = document.getElementById("like-post")
    $.get(`/like/${slug}/${id}`).then(response =>{
        if(response['response'] === "liked"){
            element.className = "fa-solid fa-heart"
        }
        else{
            element.className = "fa-regular fa-heart"
        }
    })
}
</script>
<script>
  function set_value(id) {
      document.getElementById('parent_id').value = id;
      window.location.href = '#comments-input'
  }
</script>
{% endblock %}