{% extends "base.html"%}
{% load static %}
{% load ratings %}
{% block title %}
blog
{% endblock %}
{% block content %}
<section class="menu" id="menu">
    {% if errors %}
        {% for item in errors %}
            <p class="text text-danger bg-white rounded" dir="rtl">{{item}}</p>
        {% endfor %}
    {% endif %}
    <div class="menu-us-name" id="menu-name-3">
        <span class="Us-style">sho</span>ping
    </div>
    <br><br><br><br><br><br><br>        
    <div class="box-container">
        {% for post in products %}
        <div class="box">
            <a href="details/{{ post.slug }}"><img src="{{post.image.url}}" alt=""></a>
            <h3><a href="details/{{ post.slug }}">{{post.important_title}}</a></h3>
            <div class="price">${{post.price}}<span class="discount-style">${{post.discount}}</span></div>
            <br>
            <button class="btn btn-primary" id="add-to-cart-btn">Add to cart</button>
        </div>
        {% endfor %}
    </div>
    <!-- <button class="btn2-see-more">see more</button> -->
</section>
{% if is_paginated %}
<div class="d-flex align-items-center justify-content-center mb-3 pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">&laquo;</a>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
          <a class="active" href="?page={{i}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">{{ i }}</a>
          {% else %}
            <a href="?page={{i}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">{{ i }}</a>
          {% endif %}
      {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">&raquo;</a>
    {% endif %}
</div>
{% endif %}
<!-- {% include 'includes/message.html' %} -->
{% endblock %}
