.menu-us-name{
    color: #cf9e62;
    font-size:40px;
    font-weight:bold;
    font-style:ital;
    font-family: Georgia, 'Times New Roman', Times, serif!important;
    position: absolute;
    left: 42%;
    top: 3.5em;
  }
  .Us-style{
    color: #fff;
  }